<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "store/sarah-logo-white.png", :size => '250x45', :alt => "Sarah Belle Reid", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:+14086342596">+1-408-634-2596</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:sarah.belle.reid@gmail.com">sarah.belle.reid@gmail.com</a>
      </div>
      <br>
      <div class="address">
      </div>
    </div>
  </div>
</footer>