<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="six columns">
      <br>
      <%= image_tag "store/sarah-logo-white.png", :size => '250x45', :alt => "Sarah Belle Reid", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:+14086342596">+1-408-634-2596</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:sarah.belle.reid@gmail.com">sarah.belle.reid@gmail.com</a>
      </div>
      <br>
      <div class="biography">
      </div>
    </div>

    <div class="six columns">
      <p>
        Sarah Belle Reid is a trumpet player and performance artist in Montreal. She is passionate about exploring new music and working with composers to create new repertoire. Sarah was the recipient of the "Biggest Smile" award from a latin dance festival in Summer 2002.
      </p>
    </div>
  </div>
    
</footer>