<% content_for :subheader do %>
  <%= render 'slider' %>
<% end %>

<div id="welcome-message">
  <div class="container">
    <h1>
      Welcome to the box office!
      <br>
      Don't miss out on upcoming events, buy your ticket now.
  </div>
</div>
